/*Variables*/
/*Global*/
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  transition: all 1s;
}

.title {
  text-transform: uppercase;
  font-size: 30px;
  padding: 48px 0;
  text-align: center;
  font-weight: bold;
}

section {
  margin-bottom: 48px;
}

/*Nav*/
nav {
  position: relative;
  display: -ms-flexbox;
  display: flex;
}

nav img {
  width: 100%;
  height: 100%;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

nav ul {
  top: 10%;
  right: 10%;
  position: absolute;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
}

nav ul li a {
  text-align: right;
  text-transform: uppercase;
  color: darkcyan;
}

nav a {
  font-size: 20px;
  text-decoration: none;
  padding: 0 10px;
}

nav a:hover {
  cursor: pointer;
  color: crimson;
}

nav .gold {
  color: gold;
  position: absolute;
  top: 10%;
  left: 10%;
  font-family: 'Ballet', cursive;
}

nav .btn-box {
  position: absolute;
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 100%;
  top: 70%;
}

nav .button {
  color: white;
  background-color: orange;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 5px;
  min-width: 200px;
  text-align: center;
}

nav .button:hover {
  cursor: pointer;
  opacity: 0.8;
}

nav .nav-title {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  top: 40%;
  position: absolute;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  color: white;
}

nav .nav-title h1 {
  font-size: 32px;
  -ms-flex: 100%;
      flex: 100%;
  text-transform: uppercase;
  text-align: center;
}

nav .nav-title h2 {
  font-style: oblique;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  -ms-flex: 100%;
      flex: 100%;
}

/*Services*/
.services .card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  margin: 0 auto 0 auto;
  -ms-flex-pack: center;
      justify-content: center;
  text-align: center;
}

.services .card .card-image {
  -ms-flex-line-pack: center;
      align-content: center;
}

.services .card .card-image a {
  font-size: 0;
  text-decoration: none;
}

.services .card .card-image a i {
  font-size: 40px;
  color: yellow;
  -o-object-fit: cover;
     object-fit: cover;
  height: 80px;
  width: 80px;
  border: 5px solid yellow;
  border-radius: 100%;
  -ms-flex-direction: column;
      flex-direction: column;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.services .card .card-body {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  -ms-flex-pack: start;
      justify-content: flex-start;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 5px auto 48px auto;
  padding: 0 20px auto 20px;
}

.services .card .card-body p {
  color: darkgray;
}

.services .little-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

/*Portfolio*/
.portfolio {
  background-color: lightgray;
  padding-bottom: 48px;
}

.portfolio .card {
  margin-bottom: 10px;
  position: relative;
  height: 100%;
  padding: 15px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  font-size: 0;
}

.portfolio .card .card-image {
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  height: 100%;
}

.portfolio .card .card-image img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.portfolio .card .card-body {
  text-align: center;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  font-size: 12px;
  min-height: 1px;
  width: 100%;
  padding: 20px;
  margin: auto;
  background-color: #ffffff;
}

.portfolio .card h5 {
  font-size: 20px;
}

/*Footer*/
footer {
  background-color: white;
  padding: 0 3px;
  margin: 48px 0;
}

footer .col-md-4 {
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  -ms-flex-pack: start;
      justify-content: start;
  -ms-flex-align: center;
      align-items: center;
}

footer ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer ul li {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  font-size: 0;
  margin: 10px;
  background-color: #000000;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  transition: all 1s;
  text-align: center;
}

footer ul li:hover {
  transform: scale(1.2);
}

footer ul li i {
  font-size: 25px;
  color: #ffffff;
}

/*Media*/
@media (max-width: 767px) {
  nav .nav-title h1 {
    font-size: 24px;
  }
  nav .nav-title h2 {
    font-size: 20px;
  }
  nav .gold {
    font-size: 10px;
  }
  nav ul a {
    font-size: 10px;
  }
  nav .button {
    font-size: 10px;
    max-height: 100px;
  }
}
/*# sourceMappingURL=style.css.map */